.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
  }

  html
  {
    
    font-family: 'Ysabeau Office', sans-serif;
    background-color:  rgba(3, 148, 240,0.5);
    
  }


#section1 {
    background-color:  rgba(3, 148, 240,0.5);
    color:white;
  }
  .prenom {
    font-family: 'Bacasime Antique', serif;    

  }

.nav-link {   
    color:white;
  }

#projects
{
    background-color: white;
}

.card {
    background-color:rgba(3, 148, 240,0.5); 

}

.view {
    color:white;
    text-decoration: none;
}

#about{

    justify-content: center;
    align-items: center;
   
    
}



#about>h1 {
    font-family: 'Ysabeau Office', sans-serif;
    text-align: center;
    color:rgba(3, 148, 240);
    

}

.container_about 
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

   
    
}

.main1{

   
    flex-basis: 30%;
    text-align: center;

}

.main2{
    
    flex-basis: 30%; 
    text-align: center;


}

.main3{
    
    flex-basis: 30%;
    text-align: center;

}

.second {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

   
    
}

.second1 {
    flex-basis: 25%;
    text-align: center;


}

.second2 {
    flex-basis: 25%;
    text-align: center;
    
}
.second3 {
    flex-basis: 25%;
    text-align: center;
}
.second4 {
    flex-basis: 25%;
    text-align: center;
    
}
.second5 {
    flex-basis: 25%;
    text-align: center;
}

.third {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

}

.third1{
    flex-basis: 30%;
    text-align: center;

}

.third2 {
    flex-basis: 30%;
    text-align: center;

}

.third3{
    flex-basis: 30%;
    text-align: center;

}

footer
{
    background-color:  rgba(3, 148, 240,0.5);
    

}

.nom{
    color: white

}

footer p{
    color:white
    
    

}

footer img
{
    text-align: center;
}

footer a{
    text-decoration: none;
}

.footer {
    border: 0;
}
